@charset "UTF-8";
/* CSS Document */

div.sb250, div.sb150, div.sb255, div.sb300, div.sb340 { width: 690px; clear: both; margin: 10px 0 10px; }
div.sb250 .viewport,
	div.sb150 .viewport,
	div.sb255 .viewport,
	div.sb300 .viewport,
	div.sb340 .viewport { width: 670px; overflow: hidden; position: relative; }
div.sb250 .overview,
	div.sb150 .overview,
	div.sb255 .overview,
	div.sb300 .overview,
	div.sb340 .overview { list-style: none; position: absolute; left: 0; top: 0; }
div.sb250 .thumb .end,
	div.sb150 .thumb .end,
	div.sb255 .thumb .end,
	div.sb300 .thumb .end,
	div.sb340 .thumb .end,
	div.sb .thumb,
	div.sb250 .thumb,
	div.sb150 .thumb,
	div.sb255 .thumb,
	div.sb300 .thumb,
	div.sb340 .thumb { background-color: #003D5D; }
div.sb250 .scrollbar,
	div.sb150 .scrollbar,
	div.sb255 .scrollbar,
	div.sb300 .scrollbar,
	div.sb340 .scrollbar { position: relative; float: right; width: 10px; }
div.sb250 .track,
	div.sb150 .track,
	div.sb255 .track,
	div.sb300 .track,
	div.sb340 .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
div.sb250 .thumb,
	div.sb150 .thumb,
	div.sb255 .thumb,
	div.sb300 .thumb,
	div.sb340 .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
div.sb250 .thumb .end,
	div.sb150 .thumb .end,
	div.sb255 .thumb .end,
	div.sb300 .thumb .end,
	div.sb340 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
div.sb250 .disable,
	div.sb150 .disable,
	div.sb255 .disable,
	div.sb300 .disable,
	div.sb340 .disable { display: none; }

div.sb250 .viewport { height: 250px; }
div.sb150 .viewport { height: 150px; }
div.sb255 .viewport { height: 255px; }
div.sb300 .viewport { height: 300px; }
div.sb340 .viewport { height: 340px; }

/*
#scrollbar1 { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbar1 .viewport { width: 670px; height: 250px; overflow: hidden; position: relative; }
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar1 .thumb .end,
#scrollbar1 .thumb { background-color: #003D5D; }
#scrollbar1 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbar1 .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbar1 .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar1 .disable{ display: none; }


#scrollbar2 { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbar2 .viewport { width: 670px; height: 250px; overflow: hidden; position: relative; }
#scrollbar2 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbar2 .thumb .end,
#scrollbar2 .thumb { background-color: #003D5D; }
#scrollbar2 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbar2 .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbar2 .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbar2 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbar2 .disable{ display: none; }


#scrollbarRealServers { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarRealServers .viewport { width: 670px; height: 150px; overflow: hidden; position: relative; }
#scrollbarRealServers .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarRealServers .thumb .end,
#scrollbarRealServers .thumb { background-color: #003D5D; }
#scrollbarRealServers .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarRealServers .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarRealServers .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarRealServers .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarRealServers .disable{ display: none; }


#scrollbarfarms { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarfarms .viewport { width: 670px; height: 255px; overflow: hidden; position: relative; }
#scrollbarfarms .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarfarms .thumb .end,
#scrollbarfarms .thumb { background-color: #003D5D; }
#scrollbarfarms .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarfarms .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarfarms .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarfarms .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarfarms .disable{ display: none; }

#scrollbarpp { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarpp .viewport { width: 670px; height: 255px; overflow: hidden; position: relative; }
#scrollbarpp .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarpp .thumb .end,
#scrollbarpp .thumb { background-color: #003D5D; }
#scrollbarpp .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarpp .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarpp .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarpp .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarpp .disable{ display: none; }

#scrollbarvip { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarvip .viewport { width: 670px; height: 255px; overflow: hidden; position: relative; }
#scrollbarvip .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarvip .thumb .end,
#scrollbarvip .thumb { background-color: #003D5D; }
#scrollbarvip .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarvip .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarvip .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarvip .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarvip .disable{ display: none; }


#scrollbarAdd1 { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarAdd1 .viewport { width: 670px; height: 300px; overflow: hidden; position: relative; }
#scrollbarAdd1 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarAdd1 .thumb .end,
#scrollbarAdd1 .thumb { background-color: #003D5D; }
#scrollbarAdd1 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarAdd1 .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarAdd1 .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarAdd1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarAdd1 .disable{ display: none; }

#scrollbarAdd2 { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarAdd2 .viewport { width: 670px; height: 300px; overflow: hidden; position: relative; }
#scrollbarAdd2 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarAdd2 .thumb .end,
#scrollbarAdd2 .thumb { background-color: #003D5D; }
#scrollbarAdd2 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarAdd2 .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarAdd2 .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarAdd2 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarAdd2 .disable{ display: none; }

#scrollbarAdd3 { width: 690px; clear: both; margin: 10px 0 10px; }
#scrollbarAdd3 .viewport { width: 670px; height: 300px; overflow: hidden; position: relative; }
#scrollbarAdd3 .overview { list-style: none; position: absolute; left: 0; top: 0; }
#scrollbarAdd3 .thumb .end,
#scrollbarAdd3 .thumb { background-color: #003D5D; }
#scrollbarAdd3 .scrollbar { position: relative; float: right; width: 10px; }
#scrollbarAdd3 .track { background-color: #D8EEFD; height: 100%; width:8px; position: relative; padding: 0 1px; }
#scrollbarAdd3 .thumb { height: 10px; width: 10px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#scrollbarAdd3 .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#scrollbarAdd3 .disable{ display: none; }
*/
